<nav>
    <div class="nav-wrapper topnav">
        <a href="/" class="brand-logo center">Scraper News Network</a>
        <ul class="right" id="nav-mobile">
            <li><a href="/scrape">Scrape</a></li>
            <li><a href="/clearall">Clear Articles</a></li>
            <li><a href="https://github.com/richgayle/fit-to-scrape-news-hw14.git" target="_blank">Git Repo</a></li>
        </ul>
    </div>
</nav>

